{
    "presets": ["env","react","stage-0"],
    "env": {
        "production": {
          "plugins": [["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]]
        },
        "test": {
          "plugins": ["transform-es2015-modules-commonjs"]
        }
      }
}