{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins" : [
    "transform-runtime",
    [
      "babel-plugin-dotenv",
      { "replacedModuleName": "babel-dotenv" }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
}